body {
    background-color:azure;
}

button {
    margin: 5em;
    position:relative;
    border-radius: 5px;
    
}

#column1 {
    display:inline-block;
    margin:auto;
}

#column2 {
    display: inline-block;
/*    margin:auto;*/

}

#column3 {
    display: inline-block;
    margin:auto;

}

#column4 {
    display: inline-block;
    margin:auto;

}

#button_layout {
    
}
#chords {
    background-color: antiquewhite
}
#pos {
    
}
